body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;

}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: auto;
}


.box {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}